body{
  background-color:#191919;
  color:white;
}
#box{
  background-color:#191919;
  color:white;
  text-align:right;
  font-size:50pt;
  overflow-x:auto;
  overflow-y:auto;
  width:350px;
  height:300px;
}
.button{
  margin-top:100px;
}

#braket1{
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
  border:1px solid black;
  border-radius:20px;
}
#clear{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#braket2{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#clearAll{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:#00FFF2;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn1{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn2{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn3{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btnplus{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:#00ECFF;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn4{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn5{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn6{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btnsub{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:#00ECFF;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn7{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn8{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn9{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btnmul{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:#00ECFF;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btndeci{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btn0{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:white;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btnEqual{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:#FF00FB;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}
#btndiv{
  border:1px solid black;
  border-radius:20px;
  background-color:black;
  color:#00FFF2;
  margin-top:5px;
  font-size:15pt;
  outline:0;
  width:80px;
  height:50px;
  margin-left:5px;
}